
extends layout

block content
  h3#cat-title
    b= page.category
    | &nbsp;文章列表
  ul#cat-content
    each article in page.articles.reverse()
      - var date = article.date
      - var year = date.getFullYear()
      - var month = date.getMonth() + 1
      - var day = date.getDate()
      - var month_0 = (month < 10)?'0':''
      - var day_0 = (day < 10)?'0':''
      li
        span!= year + "-" + month_0 + month + '-' + day_0 + day
        | &nbsp;&raquo;&nbsp;
        a(href=article.url)= article.title
