doctype html

html
  head
    block head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="chrome=1")
      meta(name="viewport", content="width=device-width")
      title
        block title
          = locals.name
      link(rel="stylesheet", href="/css/styles.css")
      script(type='text/javascript', src="/js/index.js")
  body
    a(href="http://www.reactivemanifesto.org/", id="reactivemanifesto")
      img(style="border: 0; position: fixed; right: 0; top:0; z-index: 900" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-blue-right.png")
    header#header
      #menu
        #menu-header
          a#site-name(href="/") ChinaXing
          a#github-icon(style="background-image: url(/lambda.png);", title="View Github profile", href="http://github.com/ChinaXing/")
        ul#menu-list
          - var categories = contents.categories;
          each catePage,cate in categories
              - var active = page.metadata && ( cate == page.metadata.category);
              li(class=active?'active':'')
                a(href=catePage.url)= cate
                  sup= catePage.articles.length
        // vistor map
        script(type="text/javascript" id="clustrmaps", src="//cdn.clustrmaps.com/map_v2.js?u=06Hb&d=Mo7Gcol92ZMAKeI3BglxNrATFMaDJKE57YFdy7GSyAg")
        i#motto 快乐地成功！
    section#content
      block content
    footer
      block footer
  // google Analytics
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37422195-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  script.
    if(window.location.href.indexOf("?expand=true") != -1){
       $('#content').width('100%');
       $('#header').hide();
    } 
