@font-face {
	font-family: 'github-icon';
	src: url('/fonts/github.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'github-icon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-glyph47 {
	font-family: 'github-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-glyph47:before {
	content: "\f00a";
}

body {
    background-color:black;
    font-family: 'Helvetica Neue',Helvetica,\5b8b\4f53,sans-serif;
    font-weight: 300;
    font-size: 90%;
}

#header {
    padding:0.5em;
    margin-left:1em;
    box-sizing: border-box;
    width:15em;
    position:absolute;
}

#content {
    width:50em;
    margin:auto;
    padding:0.5em;
    box-sizing: border-box;
    color:black;
    background-color:white;
    margin-top:0.5em;
    line-height:1.5;
}

#content >:first-child {
/*    font-family:cursive; */
}

#menu-header {
    border-bottom: 1px solid black;
    padding-left:1em;
    line-height:3em;
}

#menu {
    letter-spacing:.1em;
    background-color:white;
/*    border-bottom:1px solid white; */
}

#menu sup {
    padding:0;
    margin:0;
    color: gainsboro;
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

#menu li a {
    line-height:2.4em;
    display:block;
    padding-left:1em;
    text-transform:capitalize;
    font-family: "Helvetica Neue"
}

#menu li a:hover,#menu li.active a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color:black;
    color:white;
}

#site-name {
    padding-left:0px;
    display:inline-block;
    font-size:1.5em;
    font-family: serif;
}

#github-icon {
    display:inline-block;
    padding:0;
    margin:0;
    color:black;
    margin-left:2em;
    height: 1em;
    width: 1.5em;
    background-size: 1.5em;
    background-repeat: no-repeat;
}

.article-count {
    font-size:0.8em;
    padding-left:0.2em;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    
}

#toc {
    position:fixed;
    top:0;
    right:0;
    padding-left:1em;
    font-size: 0.8em;
    width: 10em;
    background: black;
    border: solid 1px gray;
    max-height:2em;
    overflow:hidden;
    color:white;
}

#toc a {
    color:white;
}

#toc:hover {
    width:20em;
    max-height:100%;
    overflow:auto;
}

#table-of-contents {
    border:1px solid;
}

.src, .example, code{
    color:black;
    background-color:rgb(235,235,235);
    padding: 0.5em;
    font-family: monospace;
    border: 1px dashed  black;
}

.toc-top-link {
    margin-left:0.1em;
    font-weight:normal;
    font-size:0.5em;
    font-style:italic;
}

.mask {
    width:100%;
    height:100%;
    position:fixed;
    top:0;left:0;
    z-index:2;
    background-color:black;
    opacity:0.8;
    display:none
}

.mask_container {
    width:80%;
    height:90%;
    position:fixed;
    top:5%;
    left:10%;
    z-index:999;
    display:none
}

#cat-title {
    font-family: Helvetica;
    text-transform: capitalize;
}

#cat-content li {
  line-height: 2.0em;
}

.article p {
    text-indent:2em;
}

.article.intro p{
    text-indent:initial;
}

.tech a, .article a {
    border-bottom:1px solid black;
    padding-bottom:2px;
}

#table-of-contents>:first-child {
    display:none;
}

#table-of-contents a {
    border:0;
}

.figure {
    text-align: center;
}

.figure p {
    text-indent: 0;
}

.figure img {
    max-width:90%;
}

.article .figure img {
    box-shadow: -.5em -.5em 1em .1em black;
}

#menu-list {
    border-bottom:1px solid black;
}

#clustrmaps-widget {
    margin: auto;
    margin-top: 1em;
}

code {
    border: 0;
    padding: 0;
    vertical-align: text-bottom;
}

#paginator-nav {
    border-top: 1px solid whitesmoke;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: cursive;
    font-size: 1.5em;
}

#paginator-nav > a {
    display: inline-block;
    width: 33%;
}

#paginator-nav > .nav-prev {
    text-align: left;
}

#paginator-nav > .nav-archive {
    text-align: center;
}

#paginator-nav > .nav-next {
    text-align: right;
}

.archive {
  margin: 5em auto 6em;
  padding-left: 2em;
}

.archive h2 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 0.5em;
  font-style: italic;
  text-align: center;
}

.archive a.last, .archive span.last {
  border: 0;
  margin-bottom: 0;
}

.archive a {
  width: 27em;
  text-indent: 1em;
  white-space: nowrap;
}

.archive .year-label,
.archive .month-label{
  width: 4em;
  text-rendering: auto;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.archive .month-label {
  width: 7em;
}

.archive ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.archive ul li {
  display: block;
  margin: 0;
}

.archive li {
  border-bottom: 1px solid #d2d2d2;
  box-sizing: border-box;
  vertical-align: top;
}

.archive a {
  text-decoration: none;
}

blockquote {
    border-left:.3em solid rgb(221,66,52);
    padding-left: .5em;
}

dt {
    font-weight: bolder;
}

span.todo.TODO {
    color: rgb(146,154,110);
    font-size: 0.5em; 
}

.outline-text-2 ul, .outline-text-3 ul {
    margin-left:-1.5em;
}

.outline-text-2,.outline-text-3 {
    margin-left:1.5em;
}

#motto {
    display:block;
    text-align: center;
}